.Nav{
  background-color :whitesmoke;
  color: white;
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0px 1px;
  margin: 0px;
 
}
.Nav link{
  padding: 0;
  list-style: none;
  display:flex;
  margin: 0;
  gap: 1rem;
  


}
.Auth-form-container{
  justify-content: center;
  text-align: centerd;
  display: flex;
  padding: 90px 0 90px 0 ;
  background-color: white;
}
.Auth-form{
  display: flex;
  justify-content: center;
  height: 550px;
  width: 35%;
  box-shadow: 11px 12px 13px 12px rgb(207 207 207);
  padding-top: 30px;
  border-radius: 60px;
  background-color: white;

}
input{
  height: 50px;
  width: 300px;
  border-radius: 60px;
  box-shadow: inset 0px 0px 25px 0px;
  border: none;
  outline: none;}
  button{
    height: 50px;
    width: 150px;
    padding-top: px;
    border-radius: 60px;
    background-color: purple;
    color: white;
    font-size: 25px;
    border: none;
  
  }
  
  .form-control mt-1{
    padding-left: 70px;
    font-size: 20px; 
   }
  
  .second-input{
    padding-top: 20px;
  }
  .login-button{
    padding-top: 25px;
  }